Printing a pattern.

In [171]:
import matplotlib.cn as cn

ModuleNotFoundError: No module named 'matplotlib.cn'

In [6]:
#a normal pattern printing asterisk.(Right angle)
n=int(input('enter the number of lines you want'))
for i in range(1,n+1):
    
    
    print(' *'*i)

enter the number of lines you want10
 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *
 * * * * * * * * * *

In [16]:
#a normal pattern printing asterisk.(right side right triangle)
m=int(input('enter the number of lines you want'))
for i in range(1,m+1):
    print(' '*(m-i), end ='')
    print(' *'*i)

enter the number of lines you want10
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [7]:
#a normal pattern printing asterisk.(right side right triangle)
m=int(input('enter the number of lines you want'))
for i in range(1,m+1):
    print(' '*(m-i), end ='')
    print('* '*i)# put space in place of _ to print a clean triangle.

enter the number of lines you want5
    *
   * *
  * * *
 * * * *
* * * * *

PRINTING PATTERN OF NUMBERS.

In [18]:
n=int(input('enter the number of lines you want'))
for i in range(1,n+1):
    
    for j in range(1,i+1):
        print(f"{j} ", end="")
    print(" ")

enter the number of lines you want10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [23]:
n=int(input('enter the number of lines you want'))
k=1
for i in range(1,n+1):

    for j in range(1,i+1):
        print( f"{k}", end=" ")
        k+=1
    print("")

enter the number of lines you want10
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

printing above using recursion.

In [68]:
n=int(input('enter the number of lines you want'))

enter the number of lines you want10

In [125]:
def printn(n,i=1):
    print('')
    if n>0:
#         print(" "*(n-1), end=" ")
        print('*'*i, end='')
        i+=1
        printn(n-1,i)

In [126]:
printn(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [145]:
def printn(n,i=1):
    print('')
    if n>0:
        print(" "*(n-1), end=" ")
        for j in range(1,i+1):
            print(f' {j}', end='')
        i+=1
        printn(n-1,i)

In [146]:
printn(5)

      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5

In [152]:
def printn(n,i=1,k=1):
    print('')
    if n>0:
        print(" "*(n-1), end=" ")
        for j in range(1,i+1):
            print(f' {k}', end='')
        i+=1
        k+=1
        printn(n-1,i,k)

In [153]:
printn(5)

      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5

In [169]:
def printn(n,i=1,k=1):
    print('')
    if n>0:
#         print(" "*(n-1), end=" ")
        for j in range(1,i+1):
            print(k, end=' ')
            k+=1
        i+=1
        
        printn(n-1,i,k)

In [170]:
printn(5)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15