In [88]:
dic={}
n=int(input())
for i in range(n):
               name=input()
               mlist=[]
               for j in range(3):
                   mlist.append(int(input()))
               dic[name]=mlist

3
ekta
13
14
15
prakhar
13
14
15
rashmi
13
14
15

In [90]:
query=input()
dic[query]

ekta

[13, 14, 15]

In [92]:
sum=0
for a in (dic[query]):
    sum+=a
print(sum/3)

14.0

In [93]:
n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

IndentationError: unexpected indent (<ipython-input-93-e29517fcc95a>, line 2)

n = int(input())
student_marks = {}
for i in range(n):
    clist= input().split()
    student_marks[clist[0]]=clist[1:]

In [122]:
n = int(input())
student_marks = {}
for i in range(n):
    clist= input().split()
    student_marks[clist[0]]=(clist[1:])

2
Harsh 25 26.5 28
Anurag 26 28 30

In [123]:
print(student_marks)

{'Harsh': ['25', '26.5', '28'], 'Anurag': ['26', '28', '30']}

In [124]:
query_name = input()
sum=0
for marks in student_marks[query_name]:
    sum+=float(marks)
print("{:0.2f}".format(sum/3))

Harsh
26.50

In [ ]:
2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh

In [139]:
import math
pi=math.pi
x=13.434353253243

In [151]:
print(f'{pi:.10f}')
print('{:.10f}'.format(pi))

3.1415926536
3.1415926536

In [152]:
print(f'{pi:.10}')
print('{:.10}'.format(pi))

3.141592654
3.141592654